*,
:after,
:before {
  box-sizing: border-box;
}

.filter-container {
  width: 270px;
  height: auto;
  background: #f4f4f7;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20%;
}
.search-btn {
  width: 238px;
  height: 50px;
  background: #39b54a;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  margin-top: 34px;
  margin-bottom: 5px;
}

.filtering-reset-option h3 {
  font-weight: 700;
  font-size: 18px;
  color: #282542;
  padding: 0 !important;
  margin-bottom: 16px;
}

.reset-btn {
  float: right;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #ed4933;
  margin-top: 5px;
  cursor: pointer;
  width: 38px;
  height: 19px;
  font-family: Open Sans;
  font-style: normal;
  line-height: 138.2%;
  border: none;
}

.filter-container li {
  margin-right: 15.58px;
}

label {
  font-family: Roboto;
  font-style: normal;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  line-height: 138.2%;
  color: #333333;
  margin-bottom: 0.5rem;
  cursor: default;
}
input[type="checkbox"]:checked ~ .checkmarks:after {
  background-color: #39b54a;
}
.checkmarks:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 10px;
  border-left: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-40deg) scale(2);
  opacity: 0;
  transition: all 0.4s;
}
