*,
:after,
:before {
	box-sizing: border-box;
}

.search-btn {
	width: 238px;
	height: 50px;
	background: #39b54a;
	border-radius: 5px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #fff;
	border: none;
	margin: 10px 38px;
	position: relative;
	right: 61px;
}

.filtering-reset-option h3 {
	font-weight: 700;
	font-size: 18px;
	color: #282542;
	padding: 0 !important;
	margin-bottom: 16px;
}

.reset-btn {
	float: right;
	padding: 0;
	font-weight: 600;
	font-size: 14px;
	text-align: right;
	color: #ed4933;
	margin-top: 5px;
	cursor: pointer;
	width: 38px;
	height: 19px;
	font-family: Open Sans;
	font-style: normal;
	line-height: 138.2%;
	border: none;
}

.filter-container {
	width: 270px;
	height: auto;
	background: #f4f4f7;
	border-radius: 4px;
	padding: 20px 40px;
	margin-bottom: 20px;
}
.group {
	padding: 4px 8px;
	margin: 4px;
}

input[type="checkbox"] {
	display: none;
}

label {
	position: relative;
	background-color: #ffff;
}

label::before {
	content: "";
	border: solid #111;
	border-width: 0 2px 2px 0;
	background-color: #39b54a;
	background-position: center;
	background-size: contain;
	width: 5px;
	height: 10px;
	position: absolute;
	left: -36px;
	top: 4px;
	transform: scale(0) rotateZ(180deg);
	transition: all 0.2s;
}

input[type="checkbox"]:checked + label::before {
	transform: scale(1) rotateZ(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
	z-index: 99;
	left: -35px;
	top: 3px;
	opacity: 1;
}
input[type="checkbox"]:checked + label::after {
	background: #39b54a;
}

label::after {
	content: "";
	border: 2px solid #fff;
	background-color: #fff;
	width: 18px;
	height: 18px;
	position: absolute;
	left: -42px;
	top: 1px;
}

.category-list {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 138.2%;
	color: #333333;
	margin: 0 10px 10px 10px;
	cursor: default;
	max-width: 115px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* .filter-header {
	position: relative;
	right: 27px;
} */

.filtering-title {
	font-family: Open Sans, sans-serif;
	font-style: normal;
	line-height: 138.2%;
	font-weight: 700;
	font-size: 18px;
	color: #282542;
	padding: 0 !important;
	margin-bottom: 16px;
}
.product-quantity {
	position: absolute;
	left: 82%;
	float: right;
}
.product-quantity-only {
	position: relative;
	left: 25%;
	float: right;
}

.filter-container .group .col-md-8 {
	padding: 0;
}
